In [69]:
import pandas as pd
import numpy as np
player = pd.read_csv(".//plyaer_box_data.csv")
data = pd.read_csv(".//team_box_score.csv")

In [70]:
player

,PLAYER,TEAM,MATCH UP,GAME DATE,W/L,MIN,PTS,FGM,FGA,FG%,...,DREB,REB,AST,STL,BLK,TOV,PF,+/-,FP,Season
0,Domantas Sabonis,SAC,SAC vs. POR,04/14/2024,W,27,18,7,10,70.0,...,9,11,9,0,0,4,1,37,40.7,2023-24
1,Taurean Prince,LAL,LAL @ NOP,04/14/2024,W,20,9,3,6,50.0,...,1,1,0,1,0,2,0,13,11.2,2023-24
2,Brandon Ingram,NOP,NOP vs. LAL,04/14/2024,L,23,13,6,9,66.7,...,5,5,0,0,0,2,0,-28,17.0,2023-24
3,D'Angelo Russell,LAL,LAL @ NOP,04/14/2024,W,38,19,6,13,46.2,...,1,1,4,1,1,0,2,24,32.2,2023-24
4,Anthony Davis,LAL,LAL @ NOP,04/14/2024,W,33,30,13,17,76.5,...,7,11,3,2,0,3,4,15,50.7,2023-24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26396,Taurean Prince,LAL,LAL @ DEN,10/24/2023,L,30,18,6,8,75.0,...,2,3,1,0,1,1,0,-14,25.1,2023-24
26397,D'Angelo Russell,LAL,LAL @ DEN,10/24/2023,L,36,11,4,12,33.3,...,4,4,7,1,0,3,3,1,26.3,2023-24
26398,Nikola Jokic,DEN,DEN vs. LAL,10/24/2023,W,36,29,12,22,54.5,...,10,13,11,1,1,2,2,15,65.1,2023-24
26399,Kentavious Caldwell-Pope,DEN,DEN vs. LAL,10/24/2023,W,36,20,8,12,66.7,...,1,2,1,3,1,3,5,10,32.9,2023-24
26400,Jamal Murray,DEN,DEN vs. LAL,10/24/2023,W,34,21,8,13,61.5,...,2,2,6,0,1,1,3,3,34.4,2023-24

In [71]:
player.isna().sum()

PLAYER       0
TEAM         0
MATCH UP     0
GAME DATE    0
W/L          0
MIN          0
PTS          0
FGM          0
FGA          0
FG%          0
3PM          0
3PA          0
3P%          0
FTM          0
FTA          0
FT%          0
OREB         0
DREB         0
REB          0
AST          0
STL          0
BLK          0
TOV          0
PF           0
+/-          0
FP           0
Season       0
dtype: int64

In [72]:

# 각 선수별 경기 수 계산
game_count_per_player = player.groupby('PLAYER').size()

# 41경기 이상 출전한 선수 필터링
players_41_games_or_more = game_count_per_player[game_count_per_player >= 41].index

# 해당 선수들만 필터링한 데이터프레임 생성
filtered_df = player[player['PLAYER'].isin(players_41_games_or_more)]

# 결과 확인 
filtered_df

,PLAYER,TEAM,MATCH UP,GAME DATE,W/L,MIN,PTS,FGM,FGA,FG%,...,DREB,REB,AST,STL,BLK,TOV,PF,+/-,FP,Season
0,Domantas Sabonis,SAC,SAC vs. POR,04/14/2024,W,27,18,7,10,70.0,...,9,11,9,0,0,4,1,37,40.7,2023-24
1,Taurean Prince,LAL,LAL @ NOP,04/14/2024,W,20,9,3,6,50.0,...,1,1,0,1,0,2,0,13,11.2,2023-24
2,Brandon Ingram,NOP,NOP vs. LAL,04/14/2024,L,23,13,6,9,66.7,...,5,5,0,0,0,2,0,-28,17.0,2023-24
3,D'Angelo Russell,LAL,LAL @ NOP,04/14/2024,W,38,19,6,13,46.2,...,1,1,4,1,1,0,2,24,32.2,2023-24
4,Anthony Davis,LAL,LAL @ NOP,04/14/2024,W,33,30,13,17,76.5,...,7,11,3,2,0,3,4,15,50.7,2023-24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26396,Taurean Prince,LAL,LAL @ DEN,10/24/2023,L,30,18,6,8,75.0,...,2,3,1,0,1,1,0,-14,25.1,2023-24
26397,D'Angelo Russell,LAL,LAL @ DEN,10/24/2023,L,36,11,4,12,33.3,...,4,4,7,1,0,3,3,1,26.3,2023-24
26398,Nikola Jokic,DEN,DEN vs. LAL,10/24/2023,W,36,29,12,22,54.5,...,10,13,11,1,1,2,2,15,65.1,2023-24
26399,Kentavious Caldwell-Pope,DEN,DEN vs. LAL,10/24/2023,W,36,20,8,12,66.7,...,1,2,1,3,1,3,5,10,32.9,2023-24
26400,Jamal Murray,DEN,DEN vs. LAL,10/24/2023,W,34,21,8,13,61.5,...,2,2,6,0,1,1,3,3,34.4,2023-24

In [73]:
player = filtered_df

In [74]:
data

,Team,Match Up,Game Date,W/L,MIN,PTS,FGM,FGA,FG%,3PM,...,OREB,DREB,REB,AST,STL,BLK,TOV,PF,+/-,Season
0,HOU,HOU @ LAC,04/14/2024,W,240,116,50,103,48.5,11,...,17,42,59,31,7,8,18,13,11,2023-24
1,ATL,ATL @ IND,04/14/2024,L,240,115,39,89,43.8,12,...,9,23,32,25,6,5,17,12,-42,2023-24
2,TOR,TOR @ MIA,04/14/2024,L,240,103,38,90,42.2,9,...,13,28,41,23,6,3,19,21,-15,2023-24
3,MIA,MIA vs. TOR,04/14/2024,W,240,118,46,87,52.9,9,...,13,33,46,29,13,7,19,16,15,2023-24
4,MIL,MIL @ ORL,04/14/2024,L,240,88,30,75,40.0,7,...,7,27,34,16,10,4,17,18,-25,2023-24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2455,WAS,WAS @ IND,10/25/2023,L,240,120,44,96,45.8,9,...,11,34,45,28,6,9,14,11,-23,2023-24
2456,PHX,PHX @ GSW,10/24/2023,W,240,108,42,95,44.2,11,...,17,43,60,23,5,7,19,22,4,2023-24
2457,GSW,GSW vs. PHX,10/24/2023,L,240,104,36,101,35.6,10,...,18,31,49,19,11,6,11,23,-4,2023-24
2458,DEN,DEN vs. LAL,10/24/2023,W,240,119,48,91,52.7,14,...,9,33,42,29,9,6,12,15,12,2023-24
2459,LAL,LAL @ DEN,10/24/2023,L,240,107,41,90,45.6,10,...,13,31,44,23,5,4,12,18,-12,2023-24

In [75]:
data.isna().sum()

Team         0
Match Up     0
Game Date    0
W/L          0
MIN          0
PTS          0
FGM          0
FGA          0
FG%          0
3PM          0
3PA          0
3P%          0
FTM          0
FTA          0
FT%          0
OREB         0
DREB         0
REB          0
AST          0
STL          0
BLK          0
TOV          0
PF           0
+/-          0
Season       0
dtype: int64

In [76]:
data.columns

Index(['Team', 'Match Up', 'Game Date', 'W/L', 'MIN', 'PTS', 'FGM', 'FGA',
       'FG%', '3PM', '3PA', '3P%', 'FTM', 'FTA', 'FT%', 'OREB', 'DREB', 'REB',
       'AST', 'STL', 'BLK', 'TOV', 'PF', '+/-', 'Season'],
      dtype='object')

In [77]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2460 entries, 0 to 2459
Data columns (total 25 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Team       2460 non-null   object
 1   Match Up   2460 non-null   object
 2   Game Date  2460 non-null   object
 3   W/L        2460 non-null   object
 4   MIN        2460 non-null   int64
 5   PTS        2460 non-null   int64
 6   FGM        2460 non-null   int64
 7   FGA        2460 non-null   int64
 8   FG%        2460 non-null   float64
 9   3PM        2460 non-null   int64
 10  3PA        2460 non-null   int64
 11  3P%        2460 non-null   float64
 12  FTM        2460 non-null   int64
 13  FTA        2460 non-null   int64
 14  FT%        2460 non-null   object
 15  OREB       2460 non-null   int64
 16  DREB       2460 non-null   int64
 17  REB        2460 non-null   int64
 18  AST        2460 non-null   int64
 19  STL        2460 non-null   int64
 20  BLK        2460 non-null   int64
 21  TOV        2460 non-null   int64
 22  PF         2460 non-null   int64
 23  +/-        2460 non-null   int64
 24  Season     2460 non-null   object
dtypes: float64(2), int64(17), object(6)
memory usage: 480.6+ KB

In [78]:
data['FT%']

0       35.7
1       92.6
2       85.7
3       89.5
4       91.3
        ...
2455    79.3
2456    76.5
2457    78.6
2458    75.0
2459    75.0
Name: FT%, Length: 2460, dtype: object

In [79]:
data[data['FT%'].str.contains('-')]['FT%']

92    -
Name: FT%, dtype: object

In [80]:
data['FT%'] = data['FT%'].replace('-', '0')
data['FT%'] = data['FT%'].astype(float)

In [81]:
import statsmodels.api as sm
X = data[['MIN', 'FGM', 'FGA', 'FG%', '3PM', '3PA', '3P%', 'FTM', 'FTA', 'FT%',
         'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF', '+/-']]
y = data['PTS']

# 상수 추가 (회귀식에 필요한 절편)
X = sm.add_constant(X)

# 모델 피팅
model = sm.OLS(y, X).fit()

# 모델 요약 출력
print(model.summary())

# 플레이어 rate 계산 및 필요한 데이터 선택
player['rate'] = 2 * player['FGM'] + player['3PM'] + player['FTM']
player['GameResult'] = player['+/-'].abs()

# 필요한 열만 선택
player_rate = player[['PLAYER', 'GAME DATE', 'GameResult', 'rate']]

# 플레이어 rate를 엑셀로 저장
player_rate.to_excel("player_rate_with_weights.xlsx", index=False)

                            OLS Regression Results
==============================================================================
Dep. Variable:                    PTS   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                  1.000
Method:                 Least Squares   F-statistic:                 2.969e+30
Date:                Thu, 03 Oct 2024   Prob (F-statistic):               0.00
Time:                        15:54:43   Log-Likelihood:                 70494.
No. Observations:                2460   AIC:                        -1.410e+05
Df Residuals:                    2441   BIC:                        -1.408e+05
Df Model:                          18
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       1.137e-13   1.98e-13      0.573      0.566   -2.75e-13    5.02e-13
MIN        -1.332e-15   3.16e-16     -4.215      0.000   -1.95e-15   -7.12e-16
FGM            2.0000   4.62e-15   4.33e+14      0.000       2.000       2.000
FGA        -5.933e-16   2.27e-15     -0.262      0.793   -5.04e-15    3.85e-15
FG%         -2.22e-16   4.06e-15     -0.055      0.956   -8.18e-15    7.74e-15
3PM            1.0000   3.46e-15   2.89e+14      0.000       1.000       1.000
3PA         3.053e-15   1.31e-15      2.339      0.019    4.94e-16    5.61e-15
3P%          2.72e-15    1.2e-15      2.275      0.023    3.76e-16    5.06e-15
FTM            1.0000   2.27e-15    4.4e+14      0.000       1.000       1.000
FTA          2.22e-16    1.8e-15      0.124      0.902    -3.3e-15    3.75e-15
FT%          2.22e-16   4.56e-16      0.487      0.626   -6.71e-16    1.12e-15
OREB       -1.041e-16    4.4e-16     -0.236      0.813   -9.67e-16    7.59e-16
DREB       -8.188e-16   3.25e-16     -2.516      0.012   -1.46e-15   -1.81e-16
REB         8.604e-16   3.45e-16      2.492      0.013    1.83e-16    1.54e-15
AST        -8.327e-16   4.89e-16     -1.704      0.089   -1.79e-15    1.26e-16
STL         4.441e-16   7.69e-16      0.577      0.564   -1.06e-15    1.95e-15
BLK                 0   7.01e-16          0      1.000   -1.38e-15    1.38e-15
TOV         2.234e-15   6.42e-16      3.478      0.001    9.75e-16    3.49e-15
PF           2.22e-16   4.58e-16      0.485      0.628   -6.75e-16    1.12e-15
+/-         -2.29e-16   2.29e-16     -1.001      0.317   -6.77e-16    2.19e-16
==============================================================================
Omnibus:                       15.437   Durbin-Watson:                   0.360
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               16.713
Skew:                          -0.150   Prob(JB):                     0.000235
Kurtosis:                       3.271   Cond. No.                     2.99e+17
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.31e-27. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

C:\Users\user\AppData\Local\Temp\ipykernel_24732\4280778383.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  player['rate'] = 2 * player['FGM'] + player['3PM'] + player['FTM']
C:\Users\user\AppData\Local\Temp\ipykernel_24732\4280778383.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  player['GameResult'] = player['+/-'].abs()

In [82]:
player_rate

                         PLAYER   GAME DATE  GameResult  rate
0              Domantas Sabonis  04/14/2024          37    18
1                Taurean Prince  04/14/2024          13     9
2                Brandon Ingram  04/14/2024          28    13
3              D'Angelo Russell  04/14/2024          24    19
4                 Anthony Davis  04/14/2024          15    30
...                         ...         ...         ...   ...
26396            Taurean Prince  10/24/2023          14    18
26397          D'Angelo Russell  10/24/2023           1    11
26398              Nikola Jokic  10/24/2023          15    29
26399  Kentavious Caldwell-Pope  10/24/2023          10    20
26400              Jamal Murray  10/24/2023           3    21

[22389 rows x 4 columns]

In [83]:
rate_raw = player_rate

In [84]:
rate_raw_arr = rate_raw.to_numpy()

In [85]:
rate_unweighted = np.empty([len(rate_raw_arr), 4])
rate_unweighted

array([[1.14009155e-311, 1.14025217e-311, 7.57402635e-321,
        1.14022801e-311],
       [1.14024311e-311, 7.57896701e-321, 1.14022801e-311,
        1.14024311e-311],
       [7.58390766e-321, 1.14022801e-311, 1.14024311e-311,
        7.58884832e-321],
       ...,
       [0.00000000e+000, 0.00000000e+000, 0.00000000e+000,
        0.00000000e+000],
       [0.00000000e+000, 0.00000000e+000, 0.00000000e+000,
        0.00000000e+000],
       [0.00000000e+000, 0.00000000e+000, 0.00000000e+000,
        0.00000000e+000]])

In [86]:
def weight(x):
    if x>10:
        return 1
    else:
        return 11-x

In [87]:
np.empty([1, 4])

array([[1., 1., 1., 1.]])

In [88]:
player_list  = list(player["PLAYER"].unique())
player_list

['Domantas Sabonis',
 'Taurean Prince',
 'Brandon Ingram',
 "D'Angelo Russell",
 'Anthony Davis',
 'Jonas Valančiūnas',
 'Max Christie',
 'Austin Reaves',
 'Herbert Jones',
 'Jaxson Hayes',
 'Zion Williamson',
 'Larry Nance Jr.',
 'Spencer Dinwiddie',
 'Cody Zeller',
 'CJ McCollum',
 'LeBron James',
 'Dalano Banton',
 'Kris Murray',
 'Davion Mitchell',
 'Kessler Edwards',
 'Chris Duarte',
 'Trey Lyles',
 'Alex Len',
 'Duop Reath',
 'Keon Ellis',
 'Keegan Murray',
 'Sasha Vezenkov',
 "De'Aaron Fox",
 'Harrison Barnes',
 'JaVale McGee',
 'Brandin Podziemski',
 'Moses Moody',
 'Rui Hachimura',
 'Marcus Sasser',
 'James Wiseman',
 'Jaden Ivey',
 'Julian Champagnie',
 'Sandro Mamukelashvili',
 'Malachi Flynn',
 'Tre Jones',
 'Chimezie Metu',
 'Troy Brown Jr.',
 'Zach Collins',
 'GG Jackson',
 'Peyton Watson',
 'Christian Braun',
 'Zeke Nnaji',
 'Justin Holiday',
 'Reggie Jackson',
 'Julian Strawther',
 'Jordan Goodwin',
 'Michael Porter Jr.',
 'Jamal Murray',
 'Nikola Jokic',
 'Aaron Gordon',
 'Kentavious Caldwell-Pope',
 'Dyson Daniels',
 'Jose Alvarado',
 'Trey Murphy III',
 'Jonathan Kuminga',
 'Kobe Brown',
 'Amen Thompson',
 'Amir Coffey',
 'Aaron Holiday',
 'Cam Whitmore',
 'Jabari Smith Jr.',
 'Jalen Green',
 'Terance Mann',
 'Jock Landale',
 'Reggie Bullock Jr.',
 'Mason Plumlee',
 'Jeff Green',
 'Mike Muscala',
 'Jaden Hardy',
 'Kenrich Williams',
 'Josh Green',
 'Dwight Powell',
 'Cason Wallace',
 'Jaylin Williams',
 'Jalen Williams',
 'Chet Holmgren',
 'A.J. Lawson',
 'Aaron Wiggins',
 'Josh Giddey',
 'Isaiah Joe',
 'Luguentz Dort',
 'Shai Gilgeous-Alexander',
 'Tim Hardaway Jr.',
 'Gordon Hayward',
 'Precious Achiuwa',
 'Coby White',
 'Donte DiVincenzo',
 'Daniel Theis',
 'Dario Saric',
 'Keyonte George',
 'Trayce Jackson-Davis',
 'Omer Yurtseven',
 'Luka Samanic',
 'Kevon Looney',
 'Andrew Wiggins',
 'Klay Thompson',
 'Chris Paul',
 'Bradley Beal',
 'Naz Reid',
 'Jordan McLaughlin',
 'Grayson Allen',
 "Royce O'Neale",
 'Jusuf Nurkic',
 'Kyle Anderson',
 'Rudy Gobert',
 'Mike Conley',
 'Kevin Durant',
 'David Roddy',
 'Jaden McDaniels',
 'Anthony Edwards',
 'Nassir Little',
 'Nickeil Alexander-Walker',
 'Bol Bol',
 'Drew Eubanks',
 'Josh Okogie',
 'Devin Booker',
 'Karl-Anthony Towns',
 'Blake Wesley',
 'Doug McDermott',
 'Jaime Jaquez Jr.',
 'Nikola Jovic',
 'Haywood Highsmith',
 'Gary Trent Jr.',
 'Caleb Martin',
 'Bam Adebayo',
 'Kelly Olynyk',
 'Jimmy Butler',
 'Kevin Love',
 'Ben Sheppard',
 'Jalen Smith',
 'Obi Toppin',
 'Garrison Mathews',
 'Bruno Fernando',
 'Dejounte Murray',
 'T.J. McConnell',
 'Aaron Nesmith',
 'Tyrese Haliburton',
 "De'Andre Hunter",
 'Andrew Nembhard',
 'Trae Young',
 'Pascal Siakam',
 'Myles Turner',
 'Bogdan Bogdanovic',
 'Luke Kornet',
 'Eugene Omoruyi',
 'Sam Hauser',
 'Payton Pritchard',
 'Deni Avdija',
 'Oshae Brissett',
 'Johnny Davis',
 'Corey Kispert',
 'Jalen Brunson',
 'Josh Hart',
 'OG Anunoby',
 'Alex Caruso',
 'Nikola Vucevic',
 'DeMar DeRozan',
 'Dalen Terry',
 'Miles McBride',
 'Jevon Carter',
 'Torrey Craig',
 'Isaiah Hartenstein',
 'Bojan Bogdanovic',
 'Caleb Houstan',
 'Anthony Black',
 'Jae Crowder',
 'Damian Lillard',
 'Paolo Banchero',
 'Franz Wagner',
 'Cole Anthony',
 'Wendell Carter Jr.',
 'Malik Beasley',
 'Pat Connaughton',
 'Bobby Portis',
 'Joe Ingles',
 'MarJon Beauchamp',
 'Andre Jackson Jr.',
 'Jalen Suggs',
 'Chuma Okeke',
 'Goga Bitadze',
 'Moritz Wagner',
 'Jonathan Isaac',
 'Markelle Fultz',
 'Gary Harris',
 'Khris Middleton',
 'Patrick Beverley',
 'Brook Lopez',
 'Ochai Agbaji',
 'Delon Wright',
 'Jordan Nwora',
 'Jalen McDaniels',
 'Tyler Herro',
 'Bruce Brown',
 'Gradey Dick',
 'Jaden Springer',
 'Anthony Gill',
 'Tristan Thompson',
 'Marcus Morris Sr.',
 'Vasilije Micic',
 'Georges Niang',
 'Jarrett Allen',
 'Max Strus',
 'Evan Mobley',
 'Craig Porter Jr.',
 'Isaac Okoro',
 'Tre Mann',
 'JT Thor',
 'Bryce McGowens',
 'Nick Smith Jr.',
 'Kyle Lowry',
 'Tobias Harris',
 'Kelly Oubre Jr.',
 'Mo Bamba',
 'Mikal Bridges',
 'Nic Claxton',
 'Tyrese Maxey',
 'Trendon Watford',
 'Nicolas Batum',
 'Cameron Payne',
 'Buddy Hield',
 'Lonnie Walker IV',
 'Paul Reed',
 'Cam Thomas',
 'Jalen Wilson',
 'Jacob Gilyard',
 'Svi Mykhailiuk',
 'Xavier Tillman',
 'Dante Exum',
 'Derrick Jones Jr.',
 'Maxi Kleber',
 'P.J. Washington',
 'Daniel Gafford',
 'Clint Capela',
 'Victor Wembanyama',
 'Stephen Curry',
 'Dillon Brooks',
 'Deandre Ayton',
 'Jabari Walker',
 'Scoot Henderson',
 'Draymond Green',
 'Russell Westbrook',
 'James Harden',
 'Paul George',
 'Norman Powell',
 'Ivica Zubac',
 'Talen Horton-Tucker',
 'Brandon Miller',
 'Miles Bridges',
 'Davis Bertans',
 'Alec Burks',
 'Jericho Sims',
 'Caris LeVert',
 'Darius Garland',
 'Donovan Mitchell',
 'RJ Barrett',
 'Danilo Gallinari',
 'Immanuel Quickley',
 'Eric Gordon',
 'Naji Marshall',
 'Fred VanVleet',
 'Jalen Duren',
 'Al Horford',
 'Jrue Holiday',
 'Kristaps Porzingis',
 'Jaylen Brown',
 'Derrick White',
 'Jayson Tatum',
 'Malaki Branham',
 'Kyrie Irving',
 'AJ Green',
 'Grant Williams',
 'Nick Richards',
 'Luka Doncic',
 'Cameron Johnson',
 "Day'Ron Sharpe",
 'Dennis Schroder',
 'Cam Reddish',
 'Gary Payton II',
 'Jordan Poole',
 'Jordan Hawkins',
 'Isaiah Jackson',
 'Giannis Antetokounmpo',
 'Jalen Johnson',
 'Andre Drummond',
 'Ayo Dosunmu',
 'Duncan Robinson',
 'Terry Rozier',
 'Sam Merrill',
 'Collin Sexton',
 'KJ Martin',
 'Keldon Johnson',
 'Dorian Finney-Smith',
 'Kris Dunn',
 'Shake Milton',
 "Jae'Sean Tate",
 'Kyle Kuzma',
 'Jaren Jackson Jr.',
 'Marvin Bagley III',
 'Walker Kessler',
 'Cedi Osman',
 'Cade Cunningham',
 'Santi Aldama',
 'Kawhi Leonard',
 'Dereck Lively II',
 'Dennis Smith Jr.',
 'Matisse Thybulle',
 'Jeremy Sochan',
 'Malik Monk',
 'John Collins',
 'Devin Vassell',
 'Desmond Bane',
 'Lauri Markkanen',
 'Toumani Camara',
 'Jordan Clarkson',
 'Keita Bates-Diop',
 'John Konchar',
 'Anfernee Simons',
 'Onyeka Okongwu',
 'Kevin Huerter',
 'Isaiah Stewart',
 'Simone Fontecchio',
 'Bilal Coulibaly',
 'Tyus Jones',
 'Quentin Grimes',
 'Jerami Grant',
 'Saddiq Bey',
 'Alperen Sengun',
 'Landry Shamet',
 'Chris Boucher',
 'Ausar Thompson',
 'Dean Wade',
 'Vince Williams Jr.',
 'Bennedict Mathurin',
 'Jakob Poeltl',
 'Ziaire Williams',
 'Seth Curry',
 'Scottie Barnes',
 'Christian Wood',
 'Josh Richardson',
 'Ish Smith',
 'Killian Hayes',
 'Julius Randle',
 'Patrick Williams']

In [89]:
for name in player_list:
    player_rate_unweighted = np.empty([1, 4])
    time_weight = 1
    for i in range(len(rate_raw_arr)):
        if rate_raw_arr[i,0] == name:
            arr = np.array([name,weight(time_weight),weight(rate_raw_arr[i,2]),rate_raw_arr[i,3]])
            player_rate_unweighted = np.vstack((player_rate_unweighted, arr))
            time_weight +=1 
    player_rate_unweighted = player_rate_unweighted[1:]
    player_rate_unweighted_df = pd.DataFrame(player_rate_unweighted, columns=["player","time","result","rate"])
    player_rate_unweighted_df.to_excel("./rate_"+name+".xlsx", index = False)

In [90]:
rate_unweighted

array([[1.14009155e-311, 1.14025217e-311, 7.57402635e-321,
        1.14022801e-311],
       [1.14024311e-311, 7.57896701e-321, 1.14022801e-311,
        1.14024311e-311],
       [7.58390766e-321, 1.14022801e-311, 1.14024311e-311,
        7.58884832e-321],
       ...,
       [0.00000000e+000, 0.00000000e+000, 0.00000000e+000,
        0.00000000e+000],
       [0.00000000e+000, 0.00000000e+000, 0.00000000e+000,
        0.00000000e+000],
       [0.00000000e+000, 0.00000000e+000, 0.00000000e+000,
        0.00000000e+000]])

In [100]:
weighted_player_rate = np.empty([1, 4])
for name in player_list:
    file = "./rate_" + name + ".xlsx"
    data = pd.read_excel(file)
    
    # 점수 차이가 0일 때를 방지하기 위한 작은 상수 추가
    epsilon = 1e-5
    data["inverse_result"] = 1 / (data["result"] + epsilon)  # 점수 차이에 반비례하는 가중치 적용

    sum_weight_time = sum(data["time"])
    
    if sum_weight_time != 0:
        
        # 가중치를 각 경기에 개별적으로 적용하여 균형 유지
        data["time*rate"] = data["rate"] * data["time"]
        data["inverse_result*rate"] = data["rate"] * data["inverse_result"]

        # 각 경기마다 가중치를 고려한 평균 계산
        rate_time = sum(data["time*rate"]) / sum_weight_time
        rate_inverse_result = 3 * sum(data["inverse_result*rate"]) / sum_weight_time  # 각 경기의 평균 계산
        
        # overall에서 두 값의 평균
        overall = (rate_time + rate_inverse_result) / 2
        
        arr = np.array([name, rate_time, rate_inverse_result, overall])
        weighted_player_rate = np.vstack((weighted_player_rate, arr))

weighted_player_rate = weighted_player_rate[1:]
df = pd.DataFrame(weighted_player_rate, columns=["player", "rate_time", "rate_inverse_result", "overall"])


df.to_excel("./player_rates_weighted.xlsx",index=False)

In [101]:
df

,player,rate_time,rate_inverse_result,overall
0,Domantas Sabonis,18.858267716535433,22.757850205165724,20.80805896085058
1,Taurean Prince,8.447154471544716,10.837368810106407,9.642261640825561
2,Brandon Ingram,18.18348623853211,21.686262574516284,19.934874406524198
3,D'Angelo Russell,17.264462809917354,17.4930481979391,17.378755503928225
4,Anthony Davis,24.85123966942149,27.464985473181635,26.15811257130156
...,...,...,...,...
343,Josh Richardson,10.022727272727273,7.712251186604252,8.867489229665763
344,Ish Smith,2.875,2.4906853433707927,2.682842671685396
345,Killian Hayes,5.540229885057471,4.685280668468625,5.112755276763048
346,Julius Randle,22.86813186813187,23.422503675167412,23.14531777164964
347,Patrick Williams,9.840909090909092,7.5293201864975465,8.685114638703318

In [102]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 348 entries, 0 to 347
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   player               348 non-null    object
 1   rate_time            348 non-null    object
 2   rate_inverse_result  348 non-null    object
 3   overall              348 non-null    object
dtypes: object(4)
memory usage: 11.0+ KB

In [103]:
# rate_time과 rate_inverse_result의 차이를 계산한 새로운 열 추가
df["rate_time"] = pd.to_numeric(df["rate_time"], errors='coerce')
df["rate_inverse_result"] = pd.to_numeric(df["rate_inverse_result"], errors='coerce')
df["overall"] = pd.to_numeric(df["overall"], errors='coerce')

In [104]:
df.describe()

        rate_time  rate_inverse_result     overall
count  348.000000           348.000000  348.000000
mean    11.447914            11.407288   11.427601
std      6.589615             7.993277    7.216559
min      1.333333             0.626038    1.178188
25%      6.294406             5.144599    5.624824
50%      9.925455             9.561169    9.787723
75%     15.435598            16.154481   15.881705
max     33.504348            45.504065   39.504206

In [96]:
df.columns = ['선수이름', '시간 가중치 성과', '결과 가중치 성과', '전체적인 평점']
df

                 선수이름  시간 가중치 성과  결과 가중치 성과    전체적인 평점
0    Domantas Sabonis  18.858268  22.757850  20.808059
1      Taurean Prince   8.447154  10.837369   9.642262
2      Brandon Ingram  18.183486  21.686263  19.934874
3    D'Angelo Russell  17.264463  17.493048  17.378756
4       Anthony Davis  24.851240  27.464985  26.158113
..                ...        ...        ...        ...
343   Josh Richardson  10.022727   7.712251   8.867489
344         Ish Smith   2.875000   2.490685   2.682843
345     Killian Hayes   5.540230   4.685281   5.112755
346     Julius Randle  22.868132  23.422504  23.145318
347  Patrick Williams   9.840909   7.529320   8.685115

[348 rows x 4 columns]

###### 참고해야할 지표들
###### NBA에서 가장 기본적인 선수 평가 스탯이며 공식이 간단하면서 선수가 얼마나 팀에 공헌했나를 알수 있기에 가장 활발하게 사용되는 스탯이기도 하다.
###### NBA Efficiency = (득점+리바운드+어시스트+스틸+블록)-((야투시도-야투성공)+(자유투 시도-자유투 성공)+실책)
###### KBL Efficiency(가산점 항목) = (득점+스틸+블록슛+수비 리바운드)x1.0+(공격 리바운드+어시스트+굿디펜스)x1.5+출전시간(분)÷4
###### KBL Efficiency(감점 항목) = 턴오버x1.5+2점 슛 실패x1.0+3점 슛 실패x0.9+자유투 실패x0.8